<!DOCTYPE html>
<html>

<head>
    <title>Chat app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .sidebar {
            width: 200px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #111;
        }

        /* Main content */
        .main {
            margin-left: 200px;
            padding: 10px;
        }

        /* Footer */
        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #333;
            text-align: center;
            color: white;
        }

        #title_of_sidebar {
            color: white;
            text-align: center;
            padding-top: 10px;
        }

        /* Message box */
        .message_box {
            position: absolute;
            bottom: 0;
            left: 200px;
            width: 87%;
            height: 50px;
            background-color: #ccc;
            text-align: center;
            padding: 0px;
        }

        #room_name {
            color: white;
            text-align: center;
            padding-top: 5px;
        }

        /* General Styles */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            font-size: 16px;
        }

        input {
            font-size: 14px;
        }

        body {
            line-height: 1.4;
            color: #333333;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            margin-bottom: 16px;
        }

        label {
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
            color: #777;
        }

        input {
            border: 1px solid #eeeeee;
            padding: 12px;
            outline: none;
        }

        button {
            cursor: pointer;
            padding: 12px;
            background: #7c5cbf;
            border: none;
            color: white;
            font-size: 16px;
            transition: background 0.3s ease;
        }

        button:hover {
            background: #6b47b8;
        }

        button:disabled {
            cursor: default;
            background: #7c5cbf94;
        }

        /* Join Page Styles */

        .centered-form {
            background: #333744;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .centered-form__box {
            box-shadow: 0px 0px 17px 1px #1d1f26;
            background: #f7f7fa;
            padding: 24px;
            width: 250px;
        }

        .centered-form button {
            width: 100%;
        }

        .centered-form input {
            margin-bottom: 16px;
            width: 100%;
        }

        /* Chat Page Layout */

        .chat {
            display: flex;
        }

        .chat__sidebar {
            height: 100vh;
            color: white;
            background: #333744;
            width: 225px;
            overflow-y: scroll;
        }

        /* Chat styles */

        .chat__main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            max-height: 100vh;
        }

        .chat__messages {
            flex-grow: 1;
            padding: 24px 24px 0 24px;
            overflow-y: scroll;
        }

        /* Message Styles */

        .message {
            margin-bottom: 16px;
        }

        .message__name {
            font-weight: 600;
            font-size: 14px;
            margin-right: 8px;
        }

        .message__meta {
            color: #777;
            font-size: 14px;
        }

        .message a {
            color: #0070cc;
        }

        /* Message Composition Styles */

        .compose {
            display: flex;
            flex-shrink: 0;
            margin-top: 16px;
            padding: 24px;
        }

        .compose form {
            display: flex;
            flex-grow: 1;
            margin-right: 16px;
        }

        .compose input {
            border: 1px solid #eeeeee;
            width: 100%;
            padding: 12px;
            margin: 0 16px 0 0;
            flex-grow: 1;
        }

        .compose button {
            font-size: 14px;
        }

        /* Chat Sidebar Styles */

        .room-title {
            font-weight: 400;
            font-size: 22px;
            background: #2c2f3a;
            padding: 24px;
        }

        .list-title {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 4px;
            padding: 12px 24px 0 24px;
        }

        .users {
            list-style-type: none;
            font-weight: 300;
            padding: 12px 24px 0 24px;
        }
    </style>
</head>

<body>

    <div class="sidebar">
        <h2 id="title_of_sidebar">Chat Website</h2>
        <h4 id="room_name">
            Room : <%= room %>
        </h4>
        <h4 class="users">
        </h4>
    </div>

    <div class="main">
        <div id="messages" class="chat__messages"></div>

        <div class="message_box">
            <form id="message-form" action="" class="input-group mb-3">
                <input class="form-control" name="message" id="message_data" type="text" placeholder="Message" required
                    autocomplete="off">
                <button>Send</button>
            </form>
        </div>
    </div>
    <script id="message-template" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="message_data">{{message}}</p>
        </div>
    </script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script>
    const socket = io();
    const sidebar = document.querySelector("#room_name");
    const username = `<%= username %>`
    const room = `<%= room %>`
    const $messages = document.querySelector("#messages");
    const form = document.getElementById("message-form")
    const messageInput = document.getElementById("message_data");
    const messageTemplate = document.querySelector("#message-template").innerHTML;
    const autoscroll = () => {
        // New message element
        const $newMessage = $messages.lastElementChild;

        // Height of the new message
        const newMessageStyles = getComputedStyle($newMessage);
        const newMessageMargin = parseInt(newMessageStyles.marginBottom);
        const newMessageHeight = $newMessage.offsetHeight + newMessageMargin;

        // Visible height
        const visibleHeight = $messages.offsetHeight;

        // Height of messages container
        const containerHeight = $messages.scrollHeight;

        // How far have I scrolled?
        const scrollOffset = $messages.scrollTop + visibleHeight;

        if (containerHeight - newMessageHeight <= scrollOffset) {
            $messages.scrollTop = $messages.scrollHeight;
        }
    };
    console.log("username", `<%= room %>`)
    socket.emit("join", { username: username, room: room }, () => {
        console.log(" joined room")

    });
    socket.on("message", (message) => {
        console.log("message: " + message.username, message.message)
        const html = Mustache.render(messageTemplate, {
            username: message.username,
            message: message.message,
            createdAt: moment(message.createdAt).format("h:mm a")
        });

        $messages.insertAdjacentHTML("beforeend", html);
        autoscroll();
    })
    form.addEventListener("submit", e => {
        e.preventDefault()
        let message = messageInput.value
        console.log(message);
        socket.emit('send-message', { room: room, msg: message, username: username })
        messageInput.value = ""
    })
</script>

</html>