<!doctype html>
<html>

<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            font-size: 16px;
        }

        input {
            font-size: 14px;
        }

        body {
            line-height: 1.4;
            color: #333;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            margin-bottom: 16px;
        }

        label {
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
            color: #777;
        }

        input {
            border: 1px solid #eee;
            padding: 12px;
            outline: none;
        }

        button {
            cursor: pointer;
            padding: 12px;
            background: #47b8b2;
            border: none;
            color: #fff;
            font-size: 16px;
            transition: background 0.3s ease;
        }

        button:hover {
            background: #47b8b2;
        }

        button:disabled {
            cursor: default;
            background: #47b8b2;
        }

        .centered-form {
            background: #333744;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .centered-form__box {
            box-shadow: 0 0 17px 1px #1d1f26;
            background: #f7f7fa;
            padding: 24px;
            width: 250px;
        }

        .centered-form button {
            width: 100%;
        }

        .centered-form input {
            margin-bottom: 16px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form id="form" method="get" action="/chat">
                <label for="username">Display name</label>
                <input type="text" name="username" placeholder="Display name" required>
                <label for="room">Room</label>
                <input type="text" name="room" placeholder="Room" required>
                <button type="submit">Join</button>
            </form>
        </div>
    </div>
</body>



</html>